page-report {

    h2 {
        align-items: center;
        margin: auto;
        display: block;
        margin-top: 5%;
        margin-bottom: 10%;
        color: #E73D18;
    }

    .label {
        font-size: 10pt;
    }
    

    .item{
        color: #2A2B2B;
    }

    #btn-enviar{
        margin-top: 10%;
     
    }
}
