page-maps {
    #map {
        height: 100%;
        z-index: 1;
    }
    #botaomenu{
        position: absolute;
        z-index: 2;
    }
    #quickly-menu {
        overflow: visible;
        position: absolute;
        z-index: 2;
    }

    .fab {
        contain: initial;
        box-shadow: 1px 1px 1px 1px #12CF9B;
      }
  
      ion-fab {
          ion-fab-list button[ion-fab] {
              overflow: visible;
  
              div.label {
                position: absolute;
                right: 48px;
                background: #2A2B2B;
                height: 24px;
                line-height: 16px;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 3px;
                color: #FAFEFF;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
              }
          }
      }
}
