page-cadastro-banheiro {

    #formulario{
        position: relative;
        color: #2A2B2B;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #form-titulo {
        position: relativo;
        padding-top: 2%;
        padding-bottom: 5%;
        color: #E73D18;
        font-size: 15pt;

    }
  
    #lista {
        padding-top: 70%;
        padding-bottom: 10%;
    }

    #btnSalvar{
        padding-top: 10%;
        position: relative;

    }
}
