page-cadastro-banheiro {
    #formulario{
        position: relative;
        color: #2A2B2B;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #form-titulo {
        position: relativo;
        padding-bottom: 5%;
        color: #E73D18;
        font-size: 15pt;
    }

    #form-item{
        position: relative;
        
    }

    #label {
        color: #2A2B2B;
        font-size:12pt;
    }
  
    #lista {
        padding: 100%
    }



}
