page-app {
  #menu-perfil{
    padding-botton: 100%
  }

  #menu-item {
    background-color: #FAFEFF;
  }

  #menu-footer{
    background-color: aquamarine;
  }

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 36px;
    height: 36px;
    float: left;
  }

}