page-pagina-usuario {
    .avatar-pg {
        border-radius: 50%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        align-items: center;
        margin: auto;
        display: block;
    }

    .avatar-pg img {
        width: 100px;
        height: 100px;
        margin: auto;
        display: block;
        
    }
}
