page-pagina-banheiro {

    .avatar-title {
        font-size: 2rem;
        text-align: center;
        color: #E73D18;
        margin-top: 2.8rem;
    }

    .avatar-image {
        max-height: 20%;
        max-width: 30%;
    }

    .avatar-description {
        font-size: 1.65rem;
        text-align: center;
        color: #2A2B2B;
    }

    .info {
        margin-top: 20px;

    }


    .icon{
        font-size: 25px;
        margin-right: 10px;
        margin-left: 10px;
        color: #1F8AFF;
    }

    .rater {

        font-size: 30px;
        margin-right: 10px;
        margin-left: 10px;
        color: #E73D18;
    }

    img.avatar {
        padding-top: 10%;
        margin-left: 30%;
        margin-right: 20%;
        max-width: 40%;
        max-height: 30%;
    }
}
