<ion-content scroll *ngIf="hasData">
  
  <ion-row>
    <ion-col col-12>
      <button icon-only ion-button clear (click)="voltar()">
        <ion-icon name="arrow-back" style="color: #000000"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <div class="main-content">
    <ion-fab top right>
      <button ion-fab mini color="azulpaleta"><ion-icon name="share"></ion-icon></button>
      <ion-fab-list>
        <!-- <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button> -->
        <button ion-fab><ion-icon name="logo-whatsapp" (click)="shareViaWhatsApp()"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>


    <img 
        class="avatar"
        src="/assets/imgs/icone-perfil-banheiro.png"/>

    <ion-item id="banheiro" text-center>
      <h2>{{ banheiro.name }}</h2>
      <p>{{ banheiro.end }}</p>
      <p>Aberto das <span class="time-style">{{ banheiro.hAberto}}h</span> as <span class="time-style">{{ banheiro.hFechado }}h</span></p>
    </ion-item>

    <ion-grid id="rater" class="ion-rating-container">
      <ion-row>
        <ion-col *ngFor="let star of stars ; let i = index" tappable (click)="starClicked(i)"> 
          <ion-icon id="stars" [name]="star"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <!-- Lista de Caracteristicas do banheiro -->
    <div #cadastro id="cadastro" scrollY="true" scrollX="true" style="overflow:auto;"> 
      <p>Caracteristicas</p>
      <ion-list  id="lista">
        <ion-item *ngFor='let caracteristica of banheiro.caracteristicas'>
          <ion-avatar item-start>
            <img [src]="caracteristica.icone">
          </ion-avatar>
          <ion-label>{{caracteristica.nome}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>



