page-pagina-banheiro {

    #botaomenu{
        top: 15px;
        padding-left: 10px;
        position: absolute;
        z-index: 2;
        font-size: 20px;
    }

    .icon{
        font-size: 25px;
        margin-right: 10px;
        margin-left: 10px;
        color: #2A2B2B;
    }

    .main-content {
        padding-top: 15px;
    }

    ion-item {
        .icon {
            color: #12CF9B
        }
    }

    img.avatar {
        width: 25%;
        max-width: 25%;
        height: auto;
        margin-left: 35%;
    }

    .tabbar {
        padding-top: 2;
        left:0;
        bottom:0;
        position: absolute;
        z-index:10;
        display: flex;
        width: 100%;
        opacity: 100;
    }

    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p{
        margin-left: 20px;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .ion-item {
        top: 30%;
        bottom: 50px;
    }


    .time-style {
        color: rgb(255, 102, 0);
    }

}
