// @import "../assets/scss/fontawesome.scss";
// @import ".../assets/scss/solid.scss";
// @import "../assets/scss/brands.scss";

page-pagina-banheiro {

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    h3 {
        font-size: 1.25rem;
        text-align: center;
    }

    // .ion-md-checkbox-outline:before {
    //     font-size: 21px;
    // }

    .icon{
        font-size: 25px;
        margin-right: 10px;
        margin-left: 10px;
    }

}
